.card-1 {
  border-top: 5px solid #ff4f64;
  background-color: #ffffff;
  width: 400px;
  height: 250px;
  border-radius: 15px;
  margin: 10px;
  list-style-type: none;
}

.card-2 {
  border-top: 5px solid #00a8e7;
  background-color: #ffffff;
  width: 400px;
  height: 250px;
  border-radius: 15px;
  margin: 10px;
  list-style-type: none;
}

.card-3 {
  border-top: 5px solid #44c4a1;
  background-color: #ffffff;
  width: 400px;
  height: 250px;
  border-radius: 15px;
  margin: 10px;
  list-style-type: none;
}

.card-4 {
  border-top: 5px solid #fcc200;
  background-color: #ffffff;
  width: 400px;
  height: 250px;
  border-radius: 15px;
  margin: 10px;
  list-style-type: none;
}

/* Write CSS code here. */
.headerStyle {
  color: #171f46;
  font-family: 'Roboto';
}
.description {
  color: #64748b;
}
.banner-details {
  margin: 30px;
}
.logo {
  width: 40px;
  height: 50px;
  margin-left: 280px;
}
@media (max-width: 768px) {
  .headerStyle {
    font-size: 40px;
  }
  .description {
    font-size: 20px;
  }
}
